<%- include('partials/header.ejs') %>
<form action="/compose" method="post">
    <h1>Composer</h1>
   
    <div class="form-row">
        <div class="col-12">
            <label for="postTitle">Title</label>
            <br />
            <input class="form-control" type="text" name="postTitle">
        </div>
    </div>

    <div class="form-row">
        <div class="col-12">
            <br />
            <label for="postBody">Post</label>
            <br />
            <textarea name="postBody" class="form-control" rows="10"></textarea>
        </div>
    </div>
            
    <br />
    <input class="btn btn-primary" name="submitBtn" type="submit" value="Publish">
</form>
<%- include('partials/footer.ejs') %>